$base-color: #ff3754;
$mobile: 959px;

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  margin: 0;
  padding: 0;
}
.header-main {
  padding: 0px 4.43vw 4.38vw 4.64vw;

  max-width: 100%;
  background-image: url(./img/00.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: $mobile) {
    padding: 0px 2.81vw 9.4vw 3.1vw;

    background-image: url(./img/mobile/header_background320.png);
    background-size: contain;
  }
}

.header-main__menu-white {
  z-index: -1;
  filter: blur(25px);

  &::after {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);

    content: "";
  }
}

.nav-wrapper {
  position: absolute;
  padding: 0 4.43vw 0 4.95vw;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 500;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  width: 100%;

  box-sizing: border-box;

  @media screen and (max-width: $mobile) {
    padding: 0 2.8vw 0 4.4vw;
    height: 18.4vw;
  }
}

.nav-wrapper__white {
  position: fixed;
  z-index: 500;
  width: 100vw;

  box-sizing: border-box;

  background-color: #ffffff;

  transition-duration: 0.3s;
  transition-timing-function: linear;

  .header-logo {
    background-image: url(./img/header_logo__black.svg);
    @media screen and (max-width: $mobile) {
      background-image: url(./img/mobile/header_logo__black.svg);
    }
  }
  .phone-number {
    color: #303030;
  }
  .btn-menu__rectangle {
    background-color: #303030;
  }
}

.header-logo {
  position: relative;
  width: 219px;
  height: 58px;
  left: 0;

  background-image: url(./img/header_logo.svg);

  cursor: pointer;

  @media screen and (max-width: $mobile) {
    width: 31.9vw;
    height: 8.4vw;

    background-image: url(./img/mobile/header_LOGO320.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

// .header-logo__black {
//   background-image: url(/img/header_logo__black.svg);
//   @media screen and (max-width: $mobile) {
//     background-image: url(/img/mobile/header_logo__black.svg);
//   }
// }

// .phone-number__black {
//   color: #303030;
// }
.nav-bar {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;

  padding: 0;
  margin: 0;

  list-style: none;
}

.nav-bar__phone {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.phone-number {
  position: relative;

  margin-right: 28px;
  padding-left: 19px;

  font-family: "Museo Sans Cyrl 700", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  text-decoration: none;
  @media screen and (max-width: $mobile) {
    font-size: 7.5vw;
  }
}

.nav-bar__phone-menu {
  @media screen and (max-width: $mobile) {
    display: flex;
    position: fixed;
    top: 25.9vw;
    left: 14.4vw;
  }
}

header li {
  list-style: none;
  cursor: pointer;
}
.nav-bar__social {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 14px;
  @media screen and (max-width: $mobile) {
    display: none;
    margin: 0;
  }
}

.nav-bar__social-menu {
  @media screen and (max-width: $mobile) {
    display: flex;
    position: fixed;
    top: 118.8vw;
    left: 35vw;
  }
}

.nav-bar__social-item {
  display: flex;
  align-items: center;
  margin-right: 28px;
  @media screen and (max-width: $mobile) {
  }
  a {
    display: flex;
    align-items: center;
  }
}

.nav-bar__social-item-menu {
  @media screen and (max-width: $mobile) {
    display: flex;
  }
}

.nav-bar__btn-menu {
  margin-left: 28px;
  padding-top: 13px;
  padding-bottom: 13px;
  height: 13px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;

  @media screen and (max-width: $mobile) {
    margin: 0;
    height: 4.1vw;
    padding: 4.1vw 0;
  }
}

.nav-bar__btn-menu-open {
  height: 4px;

  .btn-menu__rectangle {
    transition: transform 0.2s linear;
    &:nth-child(1) {
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      transform: rotate(-45deg);
    }
  }
}
.btn-menu__rectangle {
  width: 50px;
  height: 2px;

  background-color: #ffffff;

  @media screen and (max-width: $mobile) {
    padding: 0;
    width: 10.9vw;
  }
}

.header-h1 {
  margin: 0;
  padding-top: 175px;
  font-family: "Bebas Neue", "Times New Roman", Times, serif;

  font-size: 90px;
  line-height: 90px;
  text-transform: uppercase;

  color: #ffffff;

  @media screen and (max-width: $mobile) {
    padding-top: 47.2vw;
    font-size: 15.6vw;
    line-height: 15.6vw;
  }
}

.header-content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.header-h3 {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 0.5em;
  font-family: "Museo Sans Cyrl 700", Arial, Helvetica, sans-serif;
  font-size: 50px;
  line-height: 60px;
  color: #ffffff;

  @media screen and (max-width: $mobile) {
    font-size: 6.3vw;
    line-height: 7.5vw;
  }
}

.header-h3__pink {
  color: $base-color;
}

.content-awards {
  padding: 0;
  margin-bottom: 0;

  @media screen and (max-width: $mobile) {
    order: 1;
  }
}

.award-item__award {
  background-position: 0 50%;
  background-repeat: no-repeat;
  
}

.awards-item {
  height: 78px;
  display: flex;
  align-items: center;

  @media screen and (max-width: $mobile) {
    height: 12.5vw;
  }

  &:nth-child(1) .award-item__award {
    width: 70px;
    height: 70px;

    background-image: url(./img/award_1.svg);

    @media screen and (max-width: $mobile) {
      width: 14.7vw;
      height: 14.7vw;

      background-image: url(./img/mobile/award_01_320.svg);
    }
  }

  &:nth-child(2) .award-item__award {
    width: 70px;
    height: 70px;

    background-image: url(./img/award_02.svg);

    @media screen and (max-width: $mobile) {
      width: 14.7vw;
      height: 14.7vw;

      background-image: url(./img/mobile/award_02_320.svg);
    }
  }

  &:nth-child(3) .award-item__award {
    width: 32px;
    height: 40px;

    padding-left: 19px;
    padding-right: 19px;

    background-image: url(./img/award_03.svg);
    background-position: 50% 50%;

    @media screen and (max-width: $mobile) {
      width: 6.9vw;
      height: 8.4vw;

      padding-left: 3.9vw;
      padding-right: 3.9vw;

      background-image: url(./img/mobile/award_03_320.svg);
    }
  }

  &:nth-child(4) .award-item__award {
    width: 70px;
    height: 70px;

    background-image: url(./img/award_02.svg);

    @media screen and (max-width: $mobile) {
      width: 14.7vw;
      height: 14.7vw;

      background-image: url(./img/mobile/award_02_320.svg);
    }
  }
}

.award-item__title {
  font-family: "Museo Sans Cyrl 700", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  text-transform: lowercase;

  @media screen and (max-width: $mobile) {
    font-size: 4.4vw;
    line-height: 5.3vw;
    color: #303030;
  }
}

.award-item__title-pink-backgr {
  height: 50px;
  padding-left: 8px;
  padding-right: 8px;

  display: flex;
  align-items: center;

  background-color: $base-color;
  border-radius: 4px;

  font-size: 36px;
  text-transform: none;

  @media screen and (max-width: $mobile) {
    height: 10.5;
    padding-left: 1.9vw;
    padding-right: 1.9vw;

    font-size: 6.3vw;
    color: #ffffff;
  }
}

.award-item__award svg {
  @media screen and (max-width: $mobile) {
    height: 10.6;
  }
}

.award-item__worldwide {
  padding-right: 52px;
  width: 22px;
  height: 22px;

  @media screen and (max-width: $mobile) {
    padding-right: 10.6vw;
    width: 4.7vw;
    height: 4.7vw;
  }
}

.header-btn {
  padding-top: 106px;
  @media screen and (max-width: $mobile) {
    padding-top: 4.1vw;
    padding-bottom: 3.8vw;
    order: 0;
  }
}

.header-btn a {
  width: 412px;
  height: 68px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;

  font-family: "Museo Sans Cyrl 700", Arial, Helvetica, sans-serif;
  font-size: 19px;
  color: #ffffff;
  letter-spacing: 0.155em;
  text-transform: uppercase;

  background-color: $base-color;
  border: 1px solid #ff3754;
  box-sizing: border-box;
  border-radius: 4px;

  @media screen and (max-width: $mobile) {
    width: 93.8vw;

    font-size: 5vw;
    line-height: 5.9vw;
  }
}

.header-menu {
  display: none;
}
.header-menu__unhide {
  position: absolute;

  left: 0px;
  top: 110px;
  width: 100%;
  height: 850px;
  display: flex;
  margin: 0;
  padding: 0;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $mobile) {
    top: 25.4vw;
    height: 108.1vw;
  }
}
.header-menu__title {
  margin-bottom: 37px;

  font-family: "Museo Sans Cyrl 700", Arial, Helvetica, sans-serif;
  font-size: 50px;
  line-height: 60px;

  text-decoration: none;
  list-style: none;
  cursor: pointer;

  @media screen and (max-width: $mobile) {
    margin-bottom: 4.7vw;

    font-size: 6.3vw;
    line-height: 7.5vw;
  }
}

.main-profiles {
  padding: 88px 4.8vw 88px 4.5vw;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;

  max-width: 100%;
  background: #ffffff;

  @media screen and (max-width: $mobile) {
    padding: 3.1vw 3.1vw 9.38vw 2.1vw;
  }
}

.main-h2 {
  margin: 0;
  padding: 0;

  font-family: "Bebas Neue", "Times New Roman", Times, serif;
  font-size: 70px;
  text-transform: uppercase;
  color: #ff3754;

  @media screen and (max-width: $mobile) {
    font-size: 12.5vw;
    line-height: 12.5vw;
    margin: 0;
    padding: 0;
  }
}

.b-slider {
  display: flex;
  justify-content: space-between;
}

.b-slider-scope {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.scope__rectangle {
  width: 52px;
  height: 30px;
  background-image: url(./img/pink_rectangle_horiz.svg);
}

.scope__vertical-rectangle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30px;
  height: auto;

  background-color: $base-color;
}

.scope__vertical-rectangle-right {
  right: 0;
  left: auto;
}

.slider_text {
  padding-bottom: 30px;
  width: 49%;
  @media screen and (max-width: $mobile) {
    padding-bottom: 0;
    display: flex;
    width: 85vw;
    flex-direction: column;
    align-items: center;
  }
}

.slider__item {
  display: flex;
  justify-content: space-between;
  width: 85.15vw;
  padding-left: 5vw;
  padding-right: 5vw;

  box-sizing: border-box;

  @media screen and (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

.slider-item__h2 {
  margin: 0;
  padding-top: 26px;
  padding-bottom: 10px;

  font-family: "Bebas Neue", "Times New Roman", Times, serif;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  color: #ff3754;

  @media screen and (max-width: $mobile) {
    padding-top: 8.44vw;
    padding-bottom: 4.4vw;

    font-size: 12.5vw;
    line-height: 12.5vw;
  }
}

.slider-item__h4 {
  margin: 0;
  padding-bottom: 10px;

  font-family: "Bebas Neue", "Times New Roman", Times, serif;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #888888;

  @media screen and (max-width: $mobile) {
    padding-bottom: 3.1vw;

    font-size: 9.4vw;
    line-height: 9.4vw;
  }
}

.slider-item__h6 {
  margin: 0;
  padding-top: 1em;
  padding-bottom: 2em;

  font-family: "Museo Sans Cyrl 300", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.155em;
  text-transform: uppercase;
  color: #303030;
  @media screen and (max-width: $mobile) {
    font-size: 4.1vw;
    line-height: 5vw;
  }
}

.slider-item__btn-hide {
  display: none;
  @media screen and (max-width: $mobile) {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 48.75vw;
    height: 12.5vw;

    border: 1px solid #888888;
    box-sizing: border-box;
    border-radius: 4px;
  }
}

.slider-item__btn-hide-text {
  @media screen and (max-width: $mobile) {
    font-family: "Museo Sans Cyrl 700", Arial, Helvetica, sans-serif;
    font-size: 4.1vw;
    line-height: 5vw;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    color: #888888;
  }
}

.main__text {
  font-family: "Museo Sans Cyrl 300", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  color: #303030;
  @media screen and (max-width: $mobile) {
    font-size: 5.63vw;
  }
}
.main__text-small16 {
  font-size: 16px;
  line-height: 1.625em;
  @media screen and (max-width: $mobile) {
    font-size: 5vw;
  }
}

.main__text-bold {
  margin-bottom: unset;

  font-family: "Museo Sans Cyrl 700", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  color: #000000;
  @media screen and (max-width: $mobile) {
    font-size: 5.63vw;
  }
}

.slider-item__content-text-hide {
  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.slider-item__content-list {
  padding-left: 18px;
  padding-bottom: 10px;
  @media screen and (max-width: $mobile) {
    padding-left: 0;
    padding-bottom: 3.1vw;
  }
}

.slider-item__list-item {
  list-style-image: url(./img/profiles_list-style.svg);

  span {
    padding-left: 29px;

    @media screen and (max-width: $mobile) {
      padding-left: 3.4vw;
    }
  }
}

.slider-avatar {
  width: 28.64vw;
  height: 28.64vw;

  border-radius: 275px;
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: $mobile) {
    width: 40vw;
    height: 40vw;
    order: -1;
    border-radius: 20vw;
  }
}

.slider-avatar__1 {
  background-image: url(./img/avatar1.jpg);
}
.slider-avatar__2 {
  background-image: url(./img/avatar_2.jpg);
}
.slider-avatar__3 {
  background-image: url(./img/avatar_3.jpg);
}
.slider-avatar__4 {
  background-image: url(./img/avatar_4.jpg);
}
.slider-avatar__5 {
  background-image: url(./img/avatar_5.jpg);
}

.slider-control {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 32px;
  @media screen and (max-width: $mobile) {
    padding-top: 9.38vw;
    padding-bottom: 0;
  }
}

.slider-numeration {
  font-family: "Museo Sans Cyrl 700", Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #303030;
  @media screen and (max-width: $mobile) {
    font-size: 7.5vw;
  }
}

.main-partners {
  padding: 3.59vw 3.3vw 3.96vw;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  max-width: 100%;

  background: linear-gradient(180deg, #fdf4f4 0%, #ecf3ec 100%);

  @media screen and (max-width: $mobile) {
    padding: 11.88vw 0px 12.5vw 0px;
  }
}

.main-h2 {
  margin-bottom: 0;
  padding-bottom: 46px;

  @media screen and (max-width: $mobile) {
    padding-bottom: 12.5vw;
  }
}

.main-h2__partners {
  @media screen and (max-width: $mobile) {
    padding-bottom: 11.3vw;
  }
}

.years {
  display: none;

  @media screen and (max-width: $mobile) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-left: 3.1vw;
    padding-right: 3.1vw;
  }
}

.years-item {
  @media screen and (max-width: $mobile) {
    width: 19.69vw;
    height: 12.5vw;
    margin-bottom: 3.1vw;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Museo Sans Cyrl 700", Arial, Helvetica, sans-serif;
    font-size: 4.1vw;
    line-height: 1.23em;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    color: #888888;

    background-color: #ffffff;
    border: 1px solid #888888;
    box-sizing: border-box;
    border-radius: 4px;
  }
}

.years-item__center {
  @media screen and (max-width: $mobile) {
    margin-left: auto;
    margin-right: auto;
  }
}

.partners-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @media screen and (max-width: $mobile) {
    flex-direction: column;
    align-items: center;
  }
}

.partners__card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 412px;
  padding: 0 16px;

  @media screen and (max-width: $mobile) {
    width: 100vw;
    padding: 0;
  }

  &:nth-child(4n-3) .parnters_card-img {
    background-image: url(./img/partners_img_facebook.svg);

    @media screen and (max-width: $mobile) {
      background-image: url(./img/mobile/partners_img_facebook320.svg);
    }
  }
  &:nth-child(4n-2) .parnters_card-img {
    background-image: url(./img/partners_img_amazon.svg);

    @media screen and (max-width: $mobile) {
      background-image: url(./img/mobile/partners_img_amazon320.svg);
    }
  }
  &:nth-child(4n-1) .parnters_card-img {
    background-image: url(./img/partners_img_sony.svg);

    @media screen and (max-width: $mobile) {
      background-image: url(./img/mobile/partners_img_sony320.svg);
    }
  }
  &:nth-child(4n) .parnters_card-img {
    background-image: url(./img/partners_img_ae.svg);

    @media screen and (max-width: $mobile) {
      background-image: url(./img/mobile/partners_img_ae320.svg);
    }
  }
}

.parnters_card-img {
  width: 442px;
  height: 270px;

  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (max-width: $mobile) {
    width: 100vw;
    height: 46.9vw;
  }
}

.partners_card-description {
  width: 412px;
  padding-bottom: 56px;

  @media screen and (max-width: $mobile) {
    width: 93.8vw;
    padding-bottom: 3.44vw;
  }

  .main__text {
    @media screen and (max-width: $mobile) {
      margin-top: 3.75vw;
      margin-bottom: 3.75vw;

      font-size: 5vw;
      line-height: 1.625em;
    }
  }
  .main__text-bold {
    @media screen and (max-width: $mobile) {
      margin-top: 2.5vw;
      margin-bottom: 0;

      font-size: 5.6vw;
      line-height: 1.625em;
    }
  }
}

.b-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 85px 9px 88px;
  max-width: 100%;

  @media screen and (max-width: $mobile) {
    padding: 2.5vw 1.3vw 2.5vw 5.3vw;
  }
}

.footer__copyright {
  font-weight: 700;
  @media screen and (max-width: $mobile) {
    text-transform: lowercase;
  }
}
