@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  font-weight: normal;
  font-style: normal;

  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"),
    url("./fonts/slick.woff") format("woff"),
    url("./fonts/slick.ttf") format("truetype"),
    url("./fonts/slick.svg#slick") format("svg");
}
/* Arrows */
.slick-prev,
.slick-next {
  display: block;
  font-size: 0;
  line-height: 0;

  position: relative;

  display: block;

  width: 30px;
  height: 25px;
  padding: 0;
  margin: 0;
  
  
  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  background-image: url(img/profiles-arrow.svg);
}

.slider__arrow-active {
  background-image: url(img/profiles-arrow__pink.svg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.slick-next.slider__arrow-active {
  background-image: url(img/profiles-arrow__pink.svg);
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.slick-prev {
  left: calc( 50% - 112px);
  top: 83px;
}

.slick-next {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  left: calc( 50% + 82px);
  top: 58px;

  @media screen and (max-width: $mobile) {
    right: 62px;
  }
}
@media screen and (max-width: 320px) {
  .slick-arrow {
    top: 915px;
  }
  .slick-prev {
    left: 62px;
  }

  .slick-next {
    left: 228px;
  }
}
