body {
  margin: 0;
  padding: 0;
}

.header-main {
  padding: 0px 85px 84px 89px;
  max-width: 100%;
  background-image: url(img/00.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 320px) {
  .header-main {
    padding: 0px 9px 30px 10px;
    background-image: url(img/mobile/header_background320.png);
    background-size: contain;
  }
}

.header-main__menu-white {
  z-index: -1;
  -webkit-filter: blur(25px);
  filter: blur(25px);
}
.header-main__menu-white::after {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  content: "";
}

.header-top {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 110px;
  width: 1920px;
}
@media screen and (max-width: 320px) {
  .header-top {
    height: 59px;
    width: 320px;
  }
}

.header-top__white {
  z-index: 500;
  background-color: #ffffff;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.header-top__white .header-logo {
  background-image: url(img/header_logo__black.svg);
}
@media screen and (max-width: 320px) {
  .header-top__white .header-logo {
    background-image: url(img/mobile/header_logo__black.svg);
  }
}
.header-top__white .phone-number {
  color: #303030;
}
.header-top__white .btn-menu__rectangle {
  background-color: #303030;
}

.header-logo {
  position: relative;
  width: 219px;
  height: 58px;
  left: 95px;
  background-image: url(img/header_logo.svg);
  cursor: pointer;
}
@media screen and (max-width: 320px) {
  .header-logo {
    width: 102px;
    height: 27px;
    left: 14px;
    background-image: url(img/mobile/header_LOGO320.svg);
    background-repeat: no-repeat;
  }
}

.phone-number {
  position: relative;
  margin-right: 28px;
  padding-left: 19px;
  font-family: "Museo Sans Cyrl 700", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  text-decoration: none;
}

.header-list {
  position: fixed;
  left: 1349px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-line-pack: center;
  align-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
@media screen and (max-width: 320px) {
  .header-list {
    left: 276px;
    padding: 0;
  }
}

.header-list__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 320px) {
  .header-list__phone {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .header-list__phone-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 83px;
    left: 46px;
  }
}

header li {
  list-style: none;
  cursor: pointer;
}

.header-list__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-left: 14px;
}
@media screen and (max-width: 320px) {
  .header-list__social {
    display: none;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .header-list__social-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 380px;
    left: 112px;
  }
}

.header-list__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 28px;
}
.header-list__social-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 320px) {
  .header-list__social-item-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-list__btn-menu {
  margin-left: 28px;
  padding-top: 13px;
  padding-bottom: 13px;
  height: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-item-align: center;
  align-self: center;
}
@media screen and (max-width: 320px) {
  .header-list__btn-menu {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 13px;
    padding-bottom: 13px;
  }
}

.header-list__btn-menu-open {
  height: 4px;
}
.header-list__btn-menu-open .btn-menu__rectangle {
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
.header-list__btn-menu-open .btn-menu__rectangle:nth-child(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header-list__btn-menu-open .btn-menu__rectangle:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.btn-menu__rectangle {
  width: 50px;
  height: 2px;
  background-color: #ffffff;
}
@media screen and (max-width: 320px) {
  .btn-menu__rectangle {
    padding: 0;
    width: 35px;
  }
}

.header-h1 {
  margin: 0;
  padding-top: 175px;
  font-family: "Bebas Neue", "Times New Roman", Times, serif;
  font-size: 90px;
  line-height: 90px;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 320px) {
  .header-h1 {
    padding-top: 151px;
    font-size: 50px;
    line-height: 50px;
  }
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header-h3 {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 0.5em;
  font-family: "Museo Sans Cyrl 700", Arial, Helvetica, sans-serif;
  font-size: 50px;
  line-height: 60px;
  color: #ffffff;
}
@media screen and (max-width: 320px) {
  .header-h3 {
    font-size: 20px;
    line-height: 24px;
  }
}

.header-h3__pink {
  color: #ff3754;
}

.content-awards {
  padding: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 320px) {
  .content-awards {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

.awards-item {
  height: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 320px) {
  .awards-item {
    height: 40px;
  }
}
.awards-item:nth-child(1) .award-item__award {
  width: 70px;
  height: 70px;
  background-image: url(img/award_1.svg);
  background-repeat: no-repeat;
}
@media screen and (max-width: 320px) {
  .awards-item:nth-child(1) .award-item__award {
    width: 47px;
    height: 47px;
    background-image: url(img/mobile/award_01_320.svg);
  }
}
.awards-item:nth-child(2) .award-item__award {
  width: 70px;
  height: 70px;
  background-image: url(img/award_02.svg);
  background-repeat: no-repeat;
}
@media screen and (max-width: 320px) {
  .awards-item:nth-child(2) .award-item__award {
    width: 47px;
    height: 47px;
    background-image: url(img/mobile/award_02_320.svg);
  }
}
.awards-item:nth-child(3) .award-item__award {
  width: 32px;
  height: 40px;
  padding-left: 19px;
  padding-right: 19px;
  background: url(img/award_03.svg) 50% 50% no-repeat;
}
@media screen and (max-width: 320px) {
  .awards-item:nth-child(3) .award-item__award {
    width: 22px;
    height: 27px;
    padding-left: 12.5px;
    padding-right: 12.5px;
    background: url(img/mobile/award_03_320.svg) 50% 50% no-repeat;
  }
}
.awards-item:nth-child(4) .award-item__award {
  width: 70px;
  height: 70px;
  background-image: url(img/award_02.svg);
  background-repeat: no-repeat;
}
@media screen and (max-width: 320px) {
  .awards-item:nth-child(4) .award-item__award {
    width: 47px;
    height: 47px;
    background-image: url(img/mobile/award_02_320.svg);
  }
}

.award-item__title {
  font-family: "Museo Sans Cyrl 700", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  text-transform: lowercase;
}
@media screen and (max-width: 320px) {
  .award-item__title {
    font-size: 14px;
    line-height: 17px;
    color: #303030;
  }
}

.award-item__title-pink-backgr {
  height: 50px;
  padding-left: 8px;
  padding-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ff3754;
  border-radius: 4px;
  font-size: 36px;
  text-transform: none;
}
@media screen and (max-width: 320px) {
  .award-item__title-pink-backgr {
    height: 34px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 20px;
    color: #ffffff;
  }
}

@media screen and (max-width: 320px) {
  .award-item__award svg {
    height: 34px;
  }
}

.award-item__worldwide {
  padding-right: 52px;
  width: 22px;
  height: 22px;
}
@media screen and (max-width: 320px) {
  .award-item__worldwide {
    padding-right: 13px;
    width: 15px;
    height: 15px;
  }
}

.header-btn {
  padding-top: 106px;
}
@media screen and (max-width: 320px) {
  .header-btn {
    padding-top: 13px;
    padding-bottom: 12px;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
}

.header-btn a {
  width: 412px;
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  font-family: "Museo Sans Cyrl 700", Arial, Helvetica, sans-serif;
  font-size: 19px;
  color: #ffffff;
  letter-spacing: 0.155em;
  text-transform: uppercase;
  background-color: #ff3754;
  border: 1px solid #ff3754;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}
@media screen and (max-width: 320px) {
  .header-btn a {
    width: 300px;
    font-size: 16px;
    line-height: 19px;
  }
}

.header-menu {
  display: none;
}

.header-menu__unhide {
  position: absolute;
  left: 0px;
  top: 110px;
  width: 1920px;
  height: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 320px) {
  .header-menu__unhide {
    top: 59px;
    width: 320px;
    height: 346px;
  }
}

.header-menu__title {
  margin-bottom: 37px;
  font-family: "Museo Sans Cyrl 700", Arial, Helvetica, sans-serif;
  font-size: 50px;
  line-height: 60px;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}
@media screen and (max-width: 320px) {
  .header-menu__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
  }
}

.main-profiles {
  padding: 88px 93px 88px 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 100%;
  background: #ffffff;
}
@media screen and (max-width: 320px) {
  .main-profiles {
    padding: 32px 0px 30px 0px;
  }
}

.main-h2 {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", "Times New Roman", Times, serif;
  font-size: 70px;
  text-transform: uppercase;
  color: #ff3754;
}
@media screen and (max-width: 320px) {
  .main-h2 {
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
  }
}

.b-slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.b-slider-scope {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media screen and (max-width: 320px) {
  .b-slider-scope {
    display: none;
  }
}

.scope__rectangle {
  width: 52px;
  height: 30px;
  background-image: url(img/pink_rectangle_horiz.svg);
}

.scope__vertical-rectangle {
  width: 30px;
  height: 571px;
  background-color: #ff3754;
}

.b-slider-scope_right {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.slider_text {
  width: 49%;
}
@media screen and (max-width: 320px) {
  .slider_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 320px) {
  .slider__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.slider-item__h2 {
  margin: 0;
  padding-top: 26px;
  padding-bottom: 10px;
  font-family: "Bebas Neue", "Times New Roman", Times, serif;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  color: #ff3754;
}
@media screen and (max-width: 320px) {
  .slider-item__h2 {
    padding-top: 27px;
    padding-bottom: 14px;
    font-size: 40px;
    line-height: 40px;
  }
}

.slider-item__h4 {
  margin: 0;
  padding-bottom: 10px;
  font-family: "Bebas Neue", "Times New Roman", Times, serif;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #888888;
}
@media screen and (max-width: 320px) {
  .slider-item__h4 {
    font-size: 30px;
    line-height: 30px;
  }
}

.slider-item__h6 {
  margin: 0;
  padding-top: 1em;
  padding-bottom: 2em;
  font-family: "Museo Sans Cyrl 300", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.155em;
  text-transform: uppercase;
  color: #303030;
}

.slider-item__btn-hide {
  display: none;
}
@media screen and (max-width: 320px) {
  .slider-item__btn-hide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 156px;
    height: 40px;
    border: 1px solid #888888;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
  }
}

@media screen and (max-width: 320px) {
  .slider-item__btn-hide-text {
    font-family: "Museo Sans Cyrl 700", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    color: #888888;
  }
}

.main__text {
  font-family: "Museo Sans Cyrl 300", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 29px;
  color: #303030;
}

.main__text-small16 {
  font-size: 16px;
  line-height: 26px;
}

.main__text-bold {
  margin-bottom: unset;
  font-family: "Museo Sans Cyrl 700", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 29px;
  color: #000000;
}

@media screen and (max-width: 320px) {
  .slider-item__content-text-hide {
    display: none;
  }
}

.slider-item__content-list {
  padding-left: 18px;
  padding-bottom: 10px;
}

.slider-item__list-item {
  list-style-image: url(img/profiles_list-style.svg);
}
.slider-item__list-item span {
  padding-left: 29px;
}
@media screen and (max-width: 320px) {
  .slider-item__list-item span {
    padding-left: 11px;
  }
}

.slider-avatar {
  width: 550px;
  height: 550px;
  border-radius: 275px;
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 320px) {
  .slider-avatar {
    width: 128px;
    height: 128px;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    border-radius: 64px;
  }
}

.slider-avatar__1 {
  background-image: url(img/avatar1.jpg);
}

.slider-avatar__2 {
  background-image: url(img/avatar_2.jpg);
}

.slider-avatar__3 {
  background-image: url(img/avatar_3.jpg);
}

.slider-avatar__4 {
  background-image: url(img/avatar_4.jpg);
}

.slider-avatar__5 {
  background-image: url(img/avatar_5.jpg);
}

.slider-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 225px;
  padding-top: 32px;
}
@media screen and (max-width: 320px) {
  .slider-control {
    width: 196px;
  }
}

.slider-numeration {
  font-family: "Museo Sans Cyrl 700", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #303030;
}

.slider__arrow {
  display: none;
  line-height: 0;
  font-size: 0;
  width: 30px;
  height: 25px;
  background-image: url(img/profiles-arrow.svg);
  cursor: pointer;
}
.slider__arrow svg {
  fill: #888888;
}

.slider__arrow-next {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.slider__arrow-active svg {
  fill: #ff3754;
}

.main-partners {
  padding: 69px 88px 76px 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fdf4f4),
    to(#ecf3ec)
  );
  background: linear-gradient(180deg, #fdf4f4 0%, #ecf3ec 100%);
}
@media screen and (max-width: 320px) {
  .main-partners {
    padding: 38px 0px 40px 0px;
  }
}

.main-h2 {
  margin-bottom: 0;
  padding-bottom: 46px;
}
@media screen and (max-width: 320px) {
  .main-h2 {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 320px) {
  .main-h2__partners {
    padding-bottom: 36px;
  }
}

.years {
  display: none;
}
@media screen and (max-width: 320px) {
  .years {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 320px) {
  .years-item {
    width: 63px;
    height: 40px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Museo Sans Cyrl 700", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    color: #888888;
    background-color: #ffffff;
    border: 1px solid #888888;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
  }
}

@media screen and (max-width: 320px) {
  .years-item__center {
    margin-left: auto;
    margin-right: auto;
  }
}

.partners-wrapper {
  max-width: 1744px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 320px) {
  .partners-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.partners__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 412px;
}
@media screen and (max-width: 320px) {
  .partners__card {
    width: 320px;
  }
}
.partners__card:nth-child(4n-3) .parnters_card-img {
  background-image: url(img/partners_img_facebook.svg);
}
@media screen and (max-width: 320px) {
  .partners__card:nth-child(4n-3) .parnters_card-img {
    background-image: url(img/mobile/partners_img_facebook320.svg);
  }
}
.partners__card:nth-child(4n-2) .parnters_card-img {
  background-image: url(img/partners_img_amazon.svg);
}
@media screen and (max-width: 320px) {
  .partners__card:nth-child(4n-2) .parnters_card-img {
    background-image: url(img/mobile/partners_img_amazon320.svg);
  }
}
.partners__card:nth-child(4n-1) .parnters_card-img {
  background-image: url(img/partners_img_sony.svg);
}
@media screen and (max-width: 320px) {
  .partners__card:nth-child(4n-1) .parnters_card-img {
    background-image: url(img/mobile/partners_img_sony320.svg);
  }
}
.partners__card:nth-child(4n) .parnters_card-img {
  background-image: url(img/partners_img_ae.svg);
}
@media screen and (max-width: 320px) {
  .partners__card:nth-child(4n) .parnters_card-img {
    background-image: url(img/mobile/partners_img_ae320.svg);
  }
}

.parnters_card-img {
  width: 442px;
  height: 270px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 320px) {
  .parnters_card-img {
    width: 320px;
    height: 150px;
  }
}

.partners_card-description {
  width: 412px;
  padding-bottom: 56px;
}
@media screen and (max-width: 320px) {
  .partners_card-description {
    width: 300px;
    padding-bottom: 11px;
  }
}
@media screen and (max-width: 320px) {
  .partners_card-description .main__text {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 26px;
  }
}
@media screen and (max-width: 320px) {
  .partners_card-description .main__text-bold {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 29px;
  }
}

.b-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 11px 85px 9px 88px;
  max-width: 100%;
}
@media screen and (max-width: 320px) {
  .b-footer {
    padding: 8px 4px 8px 17px;
  }
}

.footer__copyright {
  font-weight: 700;
}
@media screen and (max-width: 320px) {
  .footer__copyright {
    text-transform: lowercase;
  }
}
